body{
    background-color: aliceblue;
}
<style>                                                         
        header {
            border-bottom: 3px solid gray;
            margin: 20px auto;
            background-color: whitesmoke;
        }
        .head {
            height: 200px;
            width: 300px;
            margin: 80px auto;
            border-radius: 90px;
            background-color: orangered;
            border-left: 20px solid rgba(255,255,255,0.4);
            border-right: 20px solid rgba(255,255,255,0.4);
            position: relative;
        }
        .head-inner {
            background-color: orangered;
            border-radius: 90px;
            position: absolute;
            border-left: 20px solid rgba(255,255,255,0.4);
            border-right: 20px solid rgba(255,255,255,0.4);
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: -20px 30px;
        }
        body{
            background-color: black;
        }
        h1{
            font-size: 50px;
            padding: 30px;
            color: red;
            text-align: center;

        }

        nav {
            border-right: 3px solid gray;
            width: 200px;
            height: 600px;
            float: left;
        }
    li{
        margin: 20px 0;
    }
    a{
        display: block;
        background-color: goldenrod;
        color: red;
        padding: 5px 0;
        text-align: center;
    }
            nav ol {
                line-height: 20px;
                list-style: none;
                color: red;
            }

        article {
            float: left;
            padding: 20px;
        }

        h2 {
            font-size: 30px;
            color: green;
        }

    </style>
        <!---->
